td,th{
    border: 1px solid white;
    padding : 0;
    border-spacing: 0;
    text-align: center;
}

::placeholder{
    color: rgba(87, 87, 87, 0.568);
}

table{
    width: 100%;
    border-collapse: collapse;
}

input{
    width: 100%;
    text-align: center;
}

ul{
    margin: 0;
}
li{
    text-align: left;
}

.positif{
    background-color: green;
}

.negatif{
    background-color: red;
}

hr{
    border-color: grey;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}