<div style="background-color:var(--surface-a);">
    <p-tabView [scrollable]="true">
        <p-tabPanel header="Assignation joueur">
            personnage
        </p-tabPanel>
        <p-tabPanel header="Personnage">
            A developper
<!--             <app-orga-personnage></app-orga-personnage>
 -->        </p-tabPanel>
        <p-tabPanel header="Groupes">
            <app-orga-groupe></app-orga-groupe>
        </p-tabPanel>
        <p-tabPanel header="Lieux">
            <app-orga-lieu></app-orga-lieu>
        </p-tabPanel>
        <p-tabPanel header="Objets" [selected]="true">
            <app-orga-objet></app-orga-objet>
        </p-tabPanel>
        <p-tabPanel header="Secrets">
            <h3>Mes Secrets</h3>
            Récupérer les secrets du Personnage et connus
        </p-tabPanel>
    </p-tabView>
</div>