<div style="background-color:var(--surface-a);">
    <p-tabView [scrollable]="true">
        <p-tabPanel header="Assignation joueur">
            personnage
        </p-tabPanel>
        <p-tabPanel header="Personnage">
            <app-orga-personnage></app-orga-personnage>
        </p-tabPanel>
        <p-tabPanel header="Groupes" [selected]="true">
            <app-orga-groupe></app-orga-groupe>
        </p-tabPanel>
        <p-tabPanel header="Lieux">
            <h3>Là où je suis</h3>
            Récupérer le lieu où personnage.loc
        </p-tabPanel>
        <p-tabPanel header="Objets">
            <h3>Mes Objets</h3>
            Récupérer les objets où possesseur=personnage et connus
        </p-tabPanel>
        <p-tabPanel header="Secrets">
            <h3>Mes Secrets</h3>
            Récupérer les secrets du Personnage et connus
        </p-tabPanel>
    </p-tabView>
</div>